{% extends 'base_customer.html' %}
{% block title %}车友圈/粉丝列表{% endblock %}
{% block content %}
<style>
    .follow-h1 {
        text-align: center;
    }

    .follow-p {
        text-align: center;
    }

    .btn-back {
        background-color: green;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
        cursor: pointer;
        position: absolute;
        top: 150px;
        right: 400px;
        transform: translateY(-50%);
    }

    .btn-back:hover {
        background-color: #006fe6;
    }
</style>
<a href="{% url 'blog:user_profile' user_id=user.id %}" class="btn-back">回到个人主页</a>
<h1 class="follow-h1">{{ user.username }}的粉丝列表</h1>

{% if followers %}
    <ul>
        {% for follower in followers %}
            <li><a href="{% url 'blog:user_profile' user_id=follower.follower_id %}">{{ follower.follower.username }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p class="follow-p">暂无粉丝</p>
{% endif %}
{% endblock %}