{% extends 'base_customer.html' %}
{% load static %}
{% block title %}博客列表{% endblock %}
{% block content %}
<style>
  /* Styles for blog posts */
  .card {
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card .tag-badge {
    margin: 0 5px 5px 0;
  }
  .card-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }

  /* Styles for pagination */
  .pagination {
    margin: 30px 0;
  }
  .pagination a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    margin: 3px;
    font-weight: bold;
  }
  .pagination .current-page {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
  }

  /* Styles for buttons */
  .btn-img {
    max-width: 50px;
    max-height: 50px;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-right: 10px;
  }

  /* Custom styles */
  .custom-header {
    margin-bottom: 50px;
    text-align: center;
    position: relative;
  }
  .custom-header h1 {
    font-size: 2.5rem;
  }
  .custom-header p {
    font-size: 1.2rem;
  }

  .btn-back1 {
      position: absolute;
      left: 200px;
  }

  .btn-back2 {
      position: absolute;
      right: 200px;
  }

  .list-group {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        margin-top: 20px;
        list-style: none;
        padding: 0;
  }

    .list-group-item {
        background-color: #f8f9fa;
        border: none;
        border-radius: 5px;
        padding: 20px;
        position: relative;
        height: 180px;
        width: 500px;
        margin: 0 auto;
    }

    .list-group-item h4 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #007bff;
    }

    .list-group-item p {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: clip;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        width: 20em;
    }

    .list-group-item a {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-weight: bold;
        color: #007bff;
    }

    .list-group-item small {
        font-size: 14px;
        color: #6c757d;
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .list-group-item .badge {
        margin-right: 10px;
        font-size: 18px;
        font-weight: bold;
        background-color: #6cadb5;
    }
</style>

<!-- Custom header -->
<div class="custom-header">
  <a href="{% url 'blog:create_post' %}" class="btn-back1"><img src="{% static 'images/create.png' %}" class="btn-img">创作</a>
  <a href="{% url 'blog:search_posts' %}" class="btn-back2"><img src="{% static 'images/search.png' %}" class="btn-img">搜索</a>
  <h1>欢迎来到博客列表</h1>
  <p>在这里你可以查看所有博客文章，也可以根据标签进行筛选。</p>
</div>

<!-- 标签筛选和超链接按钮的排版 -->
<div class="my-4" style="text-align: center;">
  <form method="GET" action="{% url 'blog:post_list' %}" class="form-inline mb-4">
    <label for="id_tag" class="mr-2" style="font-size: 1.2em;">筛选标签：</label>
    <select name="tag" id="id_tag" class="form-control mr-3" style="font-size: 1.2em;">
      <option value="">全部</option>
      {% for tag in tags %}
        <option value="{{ tag.slug }}" {% if tag.slug == request.GET.tag %}selected{% endif %}>{{ tag.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary mr-3" style="font-size: 1.2em;color:#ffffff">筛选</button>
  </form>
</div>

<!-- 所有博客文章 -->
<ul class="list-group">
  {% for post in page_obj %}
  <li class="list-group-item">
    <h4 style="float: left; margin-right: 10px; clear: both;">{{ post.title }}</h4>
    {% if post.tags.all %}
      <div style="float: right;">
        {% for tag in post.tags.all %}
        <span class="badge badge-secondary">{{ tag }}</span>
        {% endfor %}
      </div>
    {% endif %}
    <p style="clear: both;">{{ post.content|striptags }}</p>
    <a href="{% url 'blog:post_detail' post_id=post.id %}">查看详细信息</a>
    <small class="text-muted">作者：{{ post.author }}，发布时间：{{ post.created_at|date:"Y-m-d H:i:s" }}</small>
  </li>
</ul>
{% empty %}
<div class="col-lg-8 mx-auto">
  <p>暂无博客文章。</p>
</div>
{% endfor %}

<div class="pagination pt-3" style="text-align: center;">
  {% if page_obj.has_previous %}
  <button type="button" class="btn btn-link page-link" onclick="window.location.href='?tag={{ request.GET.tag }}&page=1'">&laquo; 首页</button>
  <button type="button" class="btn btn-link page-link" onclick="window.location.href='?tag={{ request.GET.tag }}&page={{ page_obj.previous_page_number }}'">上一页</button>
  {% endif %}

  {% for page in page_obj.paginator.page_range %}
  {% if page_obj.number == page %}
  <button type="button" class="btn btn-primary page-link current-page" onclick="window.location.href='?tag={{ request.GET.tag }}&page={{ page }}'">{{ page }}</button>
  {% else %}
  <button type="button" class="btn btn-link page-link" onclick="window.location.href='?tag={{ request.GET.tag }}&page={{ page }}'">{{ page }}</button>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <button type="button" class="btn btn-link page-link" onclick="window.location.href='?tag={{ request.GET.tag }}&page={{ page_obj.next_page_number }}'">下一页</button>
  <button type="button" class="btn btn-link page-link" onclick="window.location.href='?tag={{ request.GET.tag }}&page={{ page_obj.paginator.num_pages }}'">末页 &raquo;</button>
  {% endif %}
</div>

{% endblock %}
