{% extends 'base_customer.html' %}
{% load static %}
{% block title %}博客列表{% endblock %}
{% block content %}
<style>
  /* Styles for blog posts */
  .card {
    margin-bottom: 15px;
  }
  .card .tag-badge {
    margin: 0 5px 5px 0;
  }

  /* Styles for pagination */
  .pagination {
    margin: 30px 0;
  }
  .pagination a {
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    margin: 3px;
    font-weight: bold;
  }
  .pagination .current-page {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
  }

  /* Styles for buttons */
  .btn-img {
    max-width: 50px;
    max-height: 50px;
  }


</style>

<!-- 标签筛选和超链接按钮的排版 -->
<div class="row mb-3 justify-content-between align-items-center">
  <div class="col-lg-4 col-md-5">
    <form method="GET" action="{% url 'blog:post_list' %}" class="form-inline">
      <label for="id_tag" class="mr-2">筛选标签：</label>
      <select name="tag" id="id_tag" class="form-control">
        <option value="">全部</option>
        {% for tag in tags %}
          <option value="{{ tag.slug }}" {% if tag.slug == request.GET.tag %}selected{% endif %}>{{ tag.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary ml-2">筛选</button>
    </form>
  </div>
  <div class="col-lg-8 col-md-7">
    <div class="d-flex justify-content-end align-items-center">
      <a href="{% url 'blog:create_post' %}" class="btn btn-success mr-2"><img src="{% static 'images/create.png' %}" class="btn-img"></a>
      <a href="{% url 'blog:search_posts' %}" class="btn btn-primary mr-2"><img src="{% static 'images/search.png' %}" class="btn-img"></a>
      <a href="{% url 'customer_home' %}" class="btn btn-secondary"><img src="{% static 'images/home.png' %}" class="btn-img"></a>
    </div>
  </div>
</div>




<!-- 所有博客文章 -->
<div class="row">
  {% for post in page_obj %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title" align="center">文章标题：{{ post.title }}</h5>
      <h6 class="card-subtitle"  align="right">作者：{{ post.author }}</h6>
    <p class="card-subtitle"  align="left">标签：
      {% if post.tags.all %}
        <div class="card-subtitle mb-2 text-muted">
          {% for tag in post.tags.all %}
          <span class="tag-badge badge badge-secondary">{{ tag }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </p>
    <div class="card-text">部分文章内容：{{ post.content|safe|truncatewords_html:100 }}</div>
  </div>
  <div class="card-footer text-muted text-right">
    <a href="{% url 'blog:post_detail' post_id=post.pk %}" class="btn btn-sm btn-primary">查看详情</a>
  </div>
</div>
{% empty %}
<p>暂无博客文章。</p>
{% endfor %}

</div>

<!-- 分页导航 -->
<div class="pagination justify-content-center pt-3">
  {% if page_obj.has_previous %}
  <a href="?tag={{ request.GET.tag }}&page=1" class="page-link">&laquo; 首页</a>
  <a href="?tag={{ request.GET.tag }}&page={{ page_obj.previous_page_number }}" class="page-link">上一页</a>
  {% endif %}

  {% for page in page_obj.paginator.page_range %}
  {% if page_obj.number == page %}
  <a href="?tag={{ request.GET.tag }}&page={{ page }}" class="page-link current-page">{{ page }}</a>
  {% else %}
  <a href="?tag={{ request.GET.tag }}&page={{ page }}" class="page-link">{{ page }}</a>
  {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
  <a href="?tag={{ request.GET.tag }}&page={{ page_obj.next_page_number }}" class="page-link">下一页</a>
  <a href="?tag={{ request.GET.tag }}&page={{ page_obj.paginator.num_pages }}" class="page-link">末页 &raquo;</a>
  {% endif %}
</div>
{% endblock %}

