{% extends 'base_customer.html' %}
{% load static %}
{% block title %}车友圈/博客详情{% endblock %}
{% block content %}
  <!-- blog/post_detail.html -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  
  <div class="post-container">
    <h2>{{ post.title }}</h2>
      <p>标签：
      {% for tag in post.tags.all %}
        <span style="color: red; text-shadow: 2px 2px 4px #000000;">{{ tag.name }}</span>
      {% endfor %}
    </p>
    <div class="post-details">
      <p class="post-author">{{ post.author.username }}</p>
      <p class="post-updated-at">{{ post.updated_at }}</p>
    </div>
    <div class="post-content">{{ post.content|safe }}</div>
    {% if post.image %}
      <img src="{{ post.image.url }}" alt="{{ post.title }} Image">
    {% endif %}
    {% if post.video %}
      <video controls>
        <source src="{{ post.video.url }}" type="{{ post.video.content_type }}">
        Your browser does not support the video tag.
      </video>
    {% endif %}
  </div>

  <div class="post-actions">
      <!-- 显示点赞数量，并添加链接到点赞记录页面 -->
        <p><a href="{% url 'blog:post_likes' post_id=post.id %}">点赞数：{{ likes_count }}</a></p>
        <!-- 显示评论数量，并添加链接到评论页面 -->
        <p><a href="{% url 'blog:comments_list' post_id=post.id %}">评论数：{{ comments_count }}</a></p>
        <!-- 显示分享数 -->
        <p>分享数：{{ shares }}</p>
    <form class="post-share-form" method="POST" action="{% url 'blog:share_post' post.id %}">
      {% csrf_token %}
      <button class="post-like-btn" type="submit">分享</button>
    </form>
    {% if request.user.is_authenticated %}
      {% if request.user in post.likes.all %}
        <form method="post" action="{% url 'blog:unlike_post' post_id=post.id %}">
          {% csrf_token %}
          <button class="post-like-btn" type="submit">取消点赞</button>
        </form>
      {% else %}
        <form method="post" action="{% url 'blog:like_post' post_id=post.id %}">
          {% csrf_token %}
          <button class="post-like-btn" type="submit">点赞</button>
        </form>
      {% endif %}
    {% endif %}
  </div>

  <a href="{% url 'blog:post_list' %}">回到博客列表</a><br>
  <a href="{% url 'blog:search_posts' %}">回到搜索</a>

{% endblock %}




