{% extends 'base_register&log.html' %}
{% load static %}
{% block title %}登录{% endblock %}
{% block content %}
    <div class="card-container">
        <img src="{% static 'images/R-C.jpg' %}" alt="your-image-description" class="my-image">
        <div class="card">
            <div class="card-header">
                <h2>登录</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="登录" class="btn btn-primary">
                </form>
                <p>还没有账号？<button class="btn btn-primary" onclick="location.href='{% url 'register' %}'">前往注册</button></p>
            </div>
        </div>
    </div>

{% endblock %}
