{% extends 'base_aftersales.html' %}
{% load static %}
{% block title %}员工首页{% endblock %}
{% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h1>欢迎进入售后服务子系统</h1>
</div>
<div class="slideshow-container">
<div class="mySlides fade">
  <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
    <img src="{% static 'images/s-inven.png' %}" height="500" width="900">
    <a href="{% url 'view_received_messages' %}" class="button">
      <img src="{% static 'images/news.png' %}" alt="按钮" class="button-image">
    </a>
  </div>
</div>

<div class="mySlides fade">
  <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
   <img src="{% static 'images/s-news.png' %}" height="500" width="900">
    <a href="{% url 'uncompleted_orders' %}" class="button">
      <img src="{% static 'images/view.png' %}" alt="按钮" class="button-image">
    </a>
  </div>
</div>

<div class="mySlides fade">
  <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;">
    <img src="{% static 'images/s-lis.png' %}" height="500" width="900">
    <a href="{% url 'inventory_list' %}" class="button" >
      <img src="{% static 'images/inventory.png' %}" alt="按钮" class="button-image">
    </a>
  </div>
</div>


</div>
<br>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {
    slideIndex = 1
  }
  slides[slideIndex - 1].style.display = "block";
  setTimeout(showSlides, 3000); 
}

function plusSlides(n) {
  showSlides(slideIndex += n);
}
</script>

<style>
  <style>
    .slideshow-container {
      border: 1px solid gray; /* Add border */
    }
  
    .button {
      position: absolute;
      bottom: 450px;
      left: 100px;
      z-index: 2;
    }
  
    .button-image {
      width: 70px;
      height: 70px;
    }
  </style>
</style> 

{% endblock %}
