{% extends 'base_aftersales.html' %}
{% load static %}
{% block title %}员工首页{% endblock %}
{% block content %}
<div style="display: flex;">
    <img src="{% static 'images/OIP-C.jpg' %}" style="width: 50%;">
    <div style="width: 50%;">
      <p>在此我们为客户提供多样化、细致服务,并且保证服务用心，</p>
      <div style="display: flex; justify-content: center; flex-wrap: wrap;">
        <div style="display: flex; justify-content: center; align-items: center; width: 50%; padding: 10px;">
          <a href="{% url 'view_received_messages' %}" class="dropdown">
            <img src="{% static 'images/news.png' %}" style="width: 100%; height: auto;">
            <p style="text-align: center;">订单消息</p>
          </a>
      
          <a href="{% url 'uncompleted_orders' %}" class="dropdown">
            <img src="{% static 'images/view.png' %}" style="width: 100%; height: auto;">
            <p style="text-align: center;">未完成订单</p>
          </a>
        </div>
        
        <div style="display: flex; justify-content: center; align-items: center; width: 50%; padding: 10px;">
          <a href="{% url 'inventory_list' %}" class="dropdown">
            <img src="{% static 'images/inventory.png' %}" style="width: 100%; height: auto;">
            <p style="text-align: center;">库存查询</p>
          </a>
      
          <a href="#" class="dropdown">
            <img src="{% static 'images/Locate.png' %}" style="width: 100%; height: auto;">
            <p style="text-align: center;">管理充电桩位置</p>
          </a>
        </div>
      </div>
    </div>
</div>

{% endblock %}
