<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>待处理订单</title>
</head>
<body>
  <h2>待处理订单</h2>
  {% if orders %}
  <ul>
    {% for order in orders %}
      <li>
        订单号：{{ order.id }}<br>
        服务类型：{{ order.service_type }}<br>
        申请人：{{ order.user.last_name }}{{ order.user.first_name }}<br>
        车型：{{ order.car }}<br>
        申请时间：{{ order.datetime }}<br>
        描述：{{ order.description }}<br>

        <form method="POST" action="{% url 'process_order' order.id %}">
          {% csrf_token %}
          <button type="submit">处理</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>暂无未处理的订单</p>
      <!--回到部门首页-->
        <a href="{% url 'aftersales_home' %}">回到部门首页</a>
  {% endif %}

</body>
</html>
