{% extends 'base_register&log.html' %}
{% block title %}注册{% endblock %}
{% block content %}
    <div class = card>
            <h3>驾驶新能源，为绿色未来加油！</h3>
                <p>欢迎来到我们的新能源汽车售后服务首页！</p><br>
                <p>我们致力于为您提供优质的新能源汽车售后服务，确保您的车辆始终保持良好的状态和性能。无论您是新能源汽车的车主还是准备购买新能源汽车，我们都为您提供以下服务和支持：</p><br>
                <li>专业团队：我们拥有经验丰富的专业团队，包括技术工程师和认证维修师，他们熟悉各类新能源汽车的维修和保养，能够为您的车辆提供专业的服务。</li>
                <li>维修与保养：我们提供全面的维修和保养服务，包括定期保养、故障排除、零部件更换等。我们使用原厂认证的零部件，并采用先进的设备和工具，以确保您的车辆得到最佳的维修和保养。</li>
                <li>电池管理：作为新能源汽车的核心组成部分，电池的管理至关重要。我们提供电池健康检测、维护和更换服务，以确保您的电池性能和寿命达到最佳状态。</li>
                <li>车辆诊断：我们配备先进的车辆诊断设备，能够准确检测和诊断车辆的故障和问题。我们的技术团队将根据诊断结果提供专业的修复建议，并确保问题得到及时解决。</li>
                <li>售后保障：我们提供全面的售后保障，包括延长保修期、道路救援服务等。我们的目标是让您无忧地享受新能源汽车的便利和舒适。</li>
               <p>我们承诺以专业、高效和贴心的服务，为您的新能源汽车提供全方位的支持。无论您需要维修、保养还是咨询，我们都会竭诚为您服务。请随时联系我们的售后服务团队，我们将尽力满足您的需求，让您的新能源汽车始终保持最佳状态！</p>
        </div>
  <div class="card-container">
    <div class="card">
        <div class="card-header">
            <h2>注册</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="注册" class="btn btn-primary">
            </form>
            <p>已经有账号了？<button class="btn btn-primary" onclick="location.href='{% url 'index_login' %}'">立即登录</button></p>
        </div>
    </div>
  </div>

  <script>
    function toggleDepartment() {
        var role = document.getElementById("id_role");
        var departmentField = document.getElementById("id_department");
        var departmentLabel = document.querySelector("label[for='id_department']");

        if (role.value === "customer") {
            departmentField.parentElement.style.display = "none";
            departmentLabel.style.display = "none";
        } else {
            departmentField.parentElement.style.display = "block";
            departmentLabel.style.display = "inline";
        }
    }

    window.addEventListener("load", toggleDepartment);
</script>


{% endblock %}