{% extends 'base_register&log.html' %}
{% block title %}注册{% endblock %}
{% block content %}
  <div class="card-container">
    <div class="card">
        <div class="card-header">
            <h2>注册</h2>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="注册" class="btn btn-primary">
            </form>
            <p>已经有账号了？<button class="btn btn-primary" onclick="location.href='{% url 'index_login' %}'">立即登录</button></p>
        </div>
    </div>
  </div>

  <script>
    function toggleDepartment() {
        var role = document.getElementById("id_role");
        var departmentField = document.getElementById("id_department");
        var departmentLabel = document.querySelector("label[for='id_department']");

        if (role.value === "customer") {
            departmentField.parentElement.style.display = "none";
            departmentLabel.style.display = "none";
        } else {
            departmentField.parentElement.style.display = "block";
            departmentLabel.style.display = "inline";
        }
    }

    window.addEventListener("load", toggleDepartment);
</script>


{% endblock %}