{% extends 'base_customer.html' %}
{% load static %}
{% block content %}
    <style>
        .container {
            float: right;
            /* 可选：设置容器的宽度或最大宽度以适应页面布局 */
            width: 30%;
            top:100px;
            right: 200px;
            font-size: 25px; /* 设置字体大小 */
            color:black;
            text-align: center;
        }

        .card {
          background-image: url("{% static 'images/board.png' %} " ) ;
          border: 1px solid #ccc;
          padding: 20px;
          max-width: 220px; /* 设置卡片的最大宽度 */
          width: 100%; /* 设置卡片宽度为父容器的100% */
          color: #030303;
          font-size: 14px;
        }


    </style>

    <div class="container">
        <br>
        <div class="card">
            <h3>公告</h3>
        <p> 您好!为不断提升服务能力，以便给广大客户提供更优质的服务，客服人工服务时间将调整;
            00:30-9:00将无人工客服服务，您可以留言反馈问题。
            感谢您的理解与支持，祝您生活愉快!
        </p>
        </div>
    </div>
    <h1>新能源汽车客服将竭诚为您服务</h1>
    <p>请您选择客服人员</p>
    <ul>
        {% for contact in contacts %}
            <a href="{% url 'chat_window' contact.id %}" >
            <img src="{% static 'images/客服1.png' %}" class="button-image">
            {{ contact.username }}</a>
        {% endfor %}
    </ul>
    <p>以下是一些常见问题的解答：</p>
    <ul>
        <li>问题：我的新能源汽车出现了一些故障，什么时候能进行修理？</li>
        <li>回答：您需要和客服预约合适的时间或者直接拨打我们的联系电话，我们会安排时间为您处理。</li>
        <li>问题：新能源汽车保修期有多长？</li>
        <li>回答：新能源汽车保修期为两年半，在保修期内，您可以享受免费的维修服务和电池以旧换新服务。</li>
        <li>问题：新能源汽车如何延长寿命</li>
        <li>回答：您需要定期保养新能源汽车，保护好汽车的电池，远离明火以及高温高压。</li>
    </ul>

    <style>
        .button-image {
            width: 30px;
            height: 30px;
          }
    </style>
{% endblock %}

