{% extends 'base_customerservice.html' %}
{% load static %}
{% block title %}员工首页{% endblock %}
{% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: calc(100vh - 200px);">
  <h1>细心 耐心 倾听 交流</h1>
  <h1>客服部门首页</h1>
</div>
<div style="display: flex; justify-content: center; flex-wrap: wrap;">
  <div style="display: flex; justify-content: center; align-items: center; width: 50%; padding: 10px;">
    <a href="{% url 'customer_information' %}" class="dropdown">
      <img src="{% static 'images/客户管理.png' %}" style="width: 100%; height: auto;">
      <p style="text-align: center;">客户信息查询</p>
    </a>

    <a href="{% url 'service_records' %}" class="dropdown">
      <img src="{% static 'images/view.png' %}" style="width: 100%; height: auto;">
      <p style="text-align: center;">订单信息查询</p>
    </a>

    <a href="{% url 'inventory_list' %}" class="dropdown">
      <img src="{% static 'images/inventory.png' %}" style="width: 100%; height: auto;">
      <p style="text-align: center;">库存信息查询</p>
    </a>

  </div>
</div>
{% endblock %}