{% extends 'base_inventory.html' %}
{% block title %}库存变化记录{% endblock %}
{% block content %}
{% load static %}
<style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 30px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #003c6a;
            color: white;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #c0e2ed;
        }

        @media screen and (max-width: 767px) {
            table {
                table-layout: fixed;
            }

            td {
                display: block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            th {
                display: none;
            }
        }
        .button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #007bff;
          color: #ffffff;
          float: right;
          border: none;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          transition: background-color 0.3s ease;
          border-radius: 4px; /* 添加圆角效果 */
        }

        .button:hover {
          background-color: #0056b3;
        }

        .button:active {
          background-color: #003e80;
        }

    </style>

    <div class="content">
    <table>
      <tr>
        <th>产品名称</th>
        <th>变化数量</th>
        <th>时间戳</th>
        <th>描述</th>
      </tr>
      {% for change in inventory_changes %}
        <tr>
          <td>{{ change.product.name }}</td>
          <td>{{ change.change_amount }}</td>
          <td>{{ change.timestamp }}</td>
          <td>{{ change.description }}</td>
        </tr>
      {% endfor %}
    </table>
    <br>
    <button class="button" id="returnButton">返回</button>
    <br>
    </div>

<!-- 引入 jQuery 库 -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {

            var userDepartment = "{{ user.department }}";

            // 返回按钮点击事件处理
            $("#returnButton").click(function() {
                if (userDepartment === "None") {
                    // 角色为customer，返回页面1
                    window.location.href = "{% url 'customer_home' %}";
                } else if (userDepartment === "customer service") {
                    // 角色为staff
                    window.location.href = "{% url 'customerservice_home' %}";
                } else if (userDepartment === "inventory") {
                    // 角色为manager
                    window.location.href = "{% url 'inventory_home' %}";
                }
            });
        });
    </script>

{% endblock %}

