{% extends 'base_inventory.html' %}
{% block title %}采购成功{% endblock %}
{% block content %}
{% load static %}
    <!-- 导入Bootstrap样式文件 -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            background-image: url("{% static "images/background7.jpg" %}");
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px #bbb;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            text-align: center;
        }
    </style>


        <div class="card">
            <h3>采购成功</h3><br>
            <a href="{% url 'purchase_product' %}" class="btn btn-primary">继续采购</a>
            <a href="{% url 'inventory_home' %}" class="btn btn-secondary mt-3">回到库存部门首页</a>
        </div>


    <!-- 导入Bootstrap JavaScript文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
