{% extends 'base_inventory.html' %}
{% block title %}库存变化记录{% endblock %}
{% block content %}
{% load static %}
    <!-- 导入Bootstrap样式文件 -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        /* 表单样式 */
        .form-container {
            margin: 0 auto; /* 水平居中 */
            background-image: url("{% static "images/background7.jpg" %}");
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px #bbb;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
        }
        .form-container-h3{
            text-align: center;
            margin-bottom: 20px;
        }
    </style>



        <div class="form-container">
            <h3 class="form-container-h3">采购</h3>
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="{{ form.product.id_for_label }}">选择产品</label>
                {{ form.product }}
              </div>
              <div class="form-group">
                <label for="{{ form.quantity.id_for_label }}">购买数量</label>
                {{ form.quantity }}
              </div>
              <button type="submit" class="btn btn-primary">购买</button>
            </form>
        </div>


    <!-- 导入Bootstrap JavaScript文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
```