{% extends 'base_customer.html' %}
{% load static %}
{% block title %}客户首页{% endblock %}
{% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; ">
    <h1>欢迎进入客户服务主页</h1>
</div>
<div class="slideshow-container">
  <div class="mySlides fade">
    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap; position: relative;">
      <img src="{% static 'images/slide1.png' %}" height="800" width="1200">
      <a href="{% url 'map:map_search' %}" class="button">
        <img src="{% static 'images/充电桩.png' %}" alt="按钮" class="button-image">
      </a>
    </div>
  </div>

  <div class="mySlides fade">
    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;position: relative;">
     <img src="{% static 'images/slide2.png' %}" height="800" width="1200">
      <a href="{% url 'blog:user_profile' user_id=user.id  %}" class="button">
        <img src="{% static 'images/交友.png' %}" alt="按钮" class="button-image">
      </a>
    </div>
  </div>

  <div class="mySlides fade">
    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;position: relative;">
      <img src="{% static 'images/slide3.png' %}" height="800" width="1200">
      <a href="{% url 'chat_index'  %}" class="button" >
        <img src="{% static 'images/客服咨询灰.png' %}" alt="按钮" class="button-image">
      </a>
    </div>
  </div>

  <div class="mySlides fade">
    <div style="display: flex; justify-content: space-evenly; flex-wrap: wrap;position: relative;">
      <img src="{% static 'images/slide4.png' %}" height="800" width="1200">
      <a href="{% url 'service_application' %}" class="button" >
        <img src="{% static 'images/我的.png' %}" alt="按钮" class="button-image">
      </a>
    </div>
  </div>

</div>
<br>
<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1
    }
    slides[slideIndex - 1].style.display = "block";
    setTimeout(showSlides, 3000);
  }

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  </script>


    <style>
      .slideshow-container {
        border: 1px solid gray; /* Add border */
      }

      .button {
        position: absolute;
        bottom: 0px;
        right: 100px;
        z-index: 2;
      }

      .button-image {
        width: 100px;
        height: 100px;
      }
    </style>

{% endblock %}
