{% extends 'base_customer.html' %}
{% block title %}服务记录{% endblock %}
{% block content %}
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
</style>
<h1>售后服务记录</h1>
{% if service_records %}
  <table>
    <thead>
      <tr>
        <th>用户名</th>
        <th>车型</th>
        <th>服务类型</th>
        <th>申请时间</th>
        <th>详情描述</th>
        <th>订单状态</th>
      </tr>
    </thead>
    <tbody>
      {% for record in service_records %}
        <tr>
          <td>{{ record.user.last_name }}{{ record.user.first_name }}</td>
          <td>{{ record.car.car_name }}</td>
          <td>{{ record.service_type.name }}</td>
          <td>{{ record.datetime }}</td>
          <td>{{ record.description }}</td>
          <td>{% if record.service_state == 0 %}未完成{% else %}已完成{% endif %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>您还没有申请过售后服务。</p>
{% endif %}
{% endblock %}
